<h6>Bookmarks</h6>
<p><%= link_to 'New Bookmark', new_bookmark_path, :class => "btn large success" %></p>
<p><a href="#" class="btn large primary">Import from Delicious</a></p>
<p><a href="#" class="btn small">Browser plugins</a></p>
	<%= yield :sidebar %>
</div>	


